:root{

    /* variables will be declared */

    /* container section */
    --container-width:100wh;
    --container-height:calc(100vh + 2%);
    --container-column:minmax(150px, 1fr) 5fr;
    --container-row:minmax(170px, 180px) 3fr;
      
    /* sidebar section */
   --sidebar-bg-clr: rgb(245, 241, 241);
   --sidebar-grid-gap:14px 0px;
   
   --sidebar-logo-width:100%;
   --sidebar-logo-font-size:17px;
   --sidebar-logo-font-family: 'Anton', sans-serif;
   --sidebar-top-pos:20px;
   --sidebar-bottom-pos:30px;

/* balance section */



}






*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}



.container{

    width: var(--container-width);
    height: var(--container-height);
    display: grid;
    grid-template-columns: var(--container-column);
    grid-template-rows: var(--container-row);
    overflow: auto;
    overflow-x: hidden;
    background-color: whitesmoke;
    
}


/* sidebar section  */


.sidebar{

    background-color: var(--sidebar-bg-clr);
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 50px 60px 1fr 1fr  130px ;
    gap: var(--sidebar-grid-gap);
    
}

.sidebar .logo{

    position: relative;
    width:var(--sidebar-logo-width);
    
}

.sidebar .logo p{

    font-size:var(--sidebar-logo-font-size);
    font-family:var(--sidebar-logo-font-family);
    letter-spacing: 1px;
    position: absolute;
    top: var(--sidebar-top-pos);
    left: var(--sidebar-bottom-pos);
     
    
}

.logo{
    grid-row: 1 / 2;

}

.balance{
    grid-row: 2 / 3;
    width: 70%;
    border:  none;
    color: rgb(245, 241, 241); ;
    background-color:rgb(246,159,21);
    box-shadow: 3px 3px 7px 3px rgba(0, 0, 0, 0.109);
    border-radius: 10px;
    align-items: center;
    position: relative;
    left: 20px;
}

.balance:hover{
    grid-row: 2 / 3;
    width: 70%;
   
    color: rgb(245, 241, 241); ;
    background-color:rgb(246,159,21);
    box-shadow: 3px 3px 7px 3px rgba(0, 0, 0, 0.109);
    border-radius: 10px;
    align-items: center;
    position: relative;
    left: 20px;
    border: 2px rgb(255, 255, 255) solid;
}

.balance p:first-child{
    position: absolute;
    top: 4px;
    left: 10px;
    font-size: 10px;

}

.balance p:nth-child(2){
    position: absolute;
    top: 20px;
    left: 10px;

}

.balance p:last-child{
    
    width: 30px;
    margin-left: auto;
    margin-top: 5px;
    font-size: 30px;
    
}



.menu{
    grid-row: 3 / 4;
    
}

.menu ul li{
    padding: 10px;
    margin-left: 13px;
    list-style: none;
    font-family: 'Roboto Mono', monospace;
    font-size: 12px;
    color: rgb(86, 86, 86);
    width: 80%;
    display: flex;
    gap: 5px;
}

.menu ul li:hover{
    padding: 10px;
    margin-left: 16px;
    list-style: none;
    font-family: 'Roboto Mono', monospace;
    font-size: 12px;
    color: black;
    width: 80;
    background-color: #fff;
}


.robot{

    
    height: 120px;
    width: 120px;
    border: 1px black solid;
    position: relative;
    top: 80px;
    left: 20px;
    border-radius: 10px;
    background-color:rgb(246,159,21);
    border: none;
    z-index: 0;
    box-shadow: 3px 3px 7px 3px rgba(0, 0, 0, 0.109);
    align-self: self-end
}

.robot img{
    width: 100px;
    z-index: 1;
    position: relative;
    left: -15px;


}

.robot p{
    width:50px;
    font-size: 10px;
    z-index: 2;
    position: relative;
    left: 60px;
    top: -30px;
    color: white;

}

.robot p i{
    margin-left: 4px;

}

.logout{
   font-size: 13px;
   margin-left: 19px;
  align-self: self-end;
  position: relative;
  top: -20px;
  color: rgb(86, 86, 86);
  width: 80%;
  cursor: pointer;
}

.header{
    background-color:rgb(246,159,21);
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    background-image: url(Images/corner.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: -50px;
    display: grid;
    grid-template-columns: 1fr 60px;
    

}

.header .amounts{
    
    display: flex;
    position: relative;
    top: 60px;
    left: 60px;
    gap: 20px;
    
}

.header .item{
    border-left: 1px solid white;
    width: 100px;
    height: 50px;
    color: white;
    text-align: center;
    
}

.header .name{
   font-size: 8px;
   position: relative;
   left: -15px;
   margin-bottom: 10px;
    
}

.right-opt{
    display: flex;
    align-items:center;
    gap: 10px;
    color:white;
    
}
.right-opt img{
    border: 2px white solid;
    border-radius: 50%;
    cursor: pointer;
    

}

.content{

   
    grid-column: 2 /3;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 70px 1fr 1fr;
    
   
}

.card-section{


    
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: repeat(4, 250px);
    grid-template-rows: 100px;
    width: 100%;
    z-index: 1;
    position: relative;
    gap: 10px;
    
    

    
   
}



.first img{
    
   
    position: absolute;
    top: -55px;
    z-index: 1;
   margin-left: -10px;
  
    
   
}

.second img{
    
   
    position: absolute;
    top: -44px;
    z-index: 1;
   
}


.third img{
    
   
    position: absolute;
    top: -46px;
    z-index: 1;
   
   
}


.forth img{
    
   
    position: absolute;
    top: -55px;
    z-index: 1;
   
   
}

.performance-sect{
    background-color:whitesmoke;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    font-family: 'Roboto Mono', monospace;
  
}

.performance-sect .title{
    font-size: 16px;
    margin-top: 60px;
    margin-left: 30px;
   

}
.performance-sect .caption{

    font-size: 9px;
    margin-left: 30px;
}

.performance-sect .item-slide{

    font-size: 9px;
    margin-left: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
    
}

.item-slide{
    position: relative;
    top: 30px;
    
}

.item-slide .blank:first-child{

    height: 160px;
    width: 110px;
    border: 2px dashed rgba(86, 86, 86, 0.289);
    border-radius: 10px;
    text-align: center;
    color: rgba(86, 86, 86, 0.289);
    
    
}


.item-slide .blank p:first-child{
        font-size: 25px;
        font-weight: 300;
        margin-top: 40px;
        
}
    
.item-slide .blank p:last-child{
        font-size: 13px;
        font-weight: 500;
}
    

.item-slide .item {

height: 160px;
width: 110px;
border: 2px solid rgba(86, 86, 86, 0.299);
border-radius: 10px;
text-align: center;
color: rgb(3, 3, 218);


}


 .adds {
    font-size: 12px;
    margin-top: 20px;


}

.item-slide .item .google {

    margin-top: 6px;
    
    
    }


.item-slide .item img {

    margin-top: 20px;
    
    
    }

.history{
    background-color: whitesmoke;
    grid-column: 2 / 3;
    grid-row: 2 / 4;
    
}

.history .title{
    font-size: 16px;
    margin-top:60px;
    font-family: 'Roboto Mono', monospace;
}

.history .caption{
    font-size: 9px;
    font-family: 'Roboto Mono', monospace;
}

.history .options{
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
    margin-top: 30px;

}

.history .item{

    height: 70px;
    width: 70px;
    background-color:whitesmoke;
    box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.13);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    font-weight: 400;
    font-family: 'Roboto Mono', monospace;
    color: rgb(86, 86, 86);
   
    
    
}

.history .btn{
    padding: 13px 115px;
    margin-top: 80px;
    background-color: rgb(246,159,21);
    border: none;
    border-radius: 4px;
    color: white;
   
}

.history .btn:hover{
    padding: 13px 115px;
    margin-top: 68px;
    background-color: rgb(246,159,21);
    border: none;
    border-radius: 4px;
    color: white;
    border: 3px white solid;
    box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, 0.224);
   
}


.history .options .item img{
width: 30px;

}





.genral-info{
   
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    display: grid;
    grid-template-columns: 240px 240px;
    grid-template-rows: 1fr 60px 60px;
    gap: 10px 40px;
    justify-content: center;
    align-content: center;
    position: relative;
    height: 160px;
    
    position: relative;
    top: 70px;
    right: 30px;
    left: 5px;
   
    
}

.genral-info .main-title{
   grid-column: 1 / 3;
   grid-row:  1 / 2;
   font-family: 'Roboto Mono', monospace;
   margin-bottom: 15px;
    
}
.genral-info div{

    border-bottom: 2px solid rgba(86, 86, 86, 0.288);
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: 'Roboto Mono', monospace;;
    
    
    
}

.genral-info div img{

    width: 40px;
    margin-left: 10px;
    justify-content: flex-start;
    
    
}

.genral-info div:nth-child(1){
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.genral-info div:nth-child(2){
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.genral-info div:nth-child(3){

    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

.genral-info div:nth-child(4{
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}
