:root{

    /* variables will be declared */

}






*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


.container{

    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns:  minmax(150px,1fr) 5fr;
    grid-template-rows: minmax(170px, 1fr) 3fr;
    
    

}


/* sidebar section  */


.sidebar{

    background-color: rgb(245, 241, 241);

    grid-row: 1 / 3;
    grid-column: 1 / 2;
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 50px 60px 1fr 2fr ;
    gap: 14px 0px;
    
}

.sidebar .logo{

    position: relative;
    width: 100%;
    
}

.sidebar .logo p{

    font-size: 17px;
    font-family: 'Anton', sans-serif;
    letter-spacing: 1px;
    position: absolute;
    top: 20px;
    left: 30px;
     
    
}

.logo{
    grid-row: 1 / 2;

}

.balance{
    grid-row: 2 / 3;
    width: 70%;
    border:  none;
    color: rgb(245, 241, 241); ;
    background-color:rgb(223, 112, 112) ;
    border-radius: 10px;
    align-items: center;
    position: relative;
    left: 20px;
}

.balance:hover{
    grid-row: 2 / 3;
    width: 70%;
   
    color: rgb(245, 241, 241); ;
    background-color:rgb(223, 112, 112) ;
    border-radius: 10px;
    align-items: center;
    position: relative;
    left: 20px;
    border: 2px rgb(255, 255, 255) solid;
}

.balance p:first-child{
    position: absolute;
    top: 4px;
    left: 10px;
    font-size: 10px;

}

.balance p:nth-child(2){
    position: absolute;
    top: 20px;
    left: 10px;

}

.balance p:last-child{
    
    width: 30px;
    margin-left: auto;
    margin-top: 5px;
    font-size: 30px;
    
}



.menu{
    grid-row: 3 / 4;
    
}

.menu ul li{
    padding: 10px;
    margin-left: 13px;
    list-style: none;
    font-family: 'Roboto Mono', monospace;
    font-size: 12px;
    color: rgb(86, 86, 86);
    width: 80%;
}

.menu ul li:hover{
    padding: 10px;
    margin-left: 16px;
    list-style: none;
    font-family: 'Roboto Mono', monospace;
    font-size: 12px;
    color: black;
    width: 80;
    background-color: #fff;
}

.header{
    background-color:rgb(223, 112, 112);
    grid-row: 1 / 2;
    grid-column: 2 / 3;

}


.content{
    background-color :white;
    grid-column: 2 /3;
    grid-row: 2 / 3;
}
